
<div class="container w-3/4 mx-auto bg-silver flex flex-col items-center content-between p-2" *ngIf="character">
  <nav  class="bg-tahiti w-full h-12">nada para navegacion</nav>
  <h1 class="text-tahiti font-semibold text-2xl p-4">{{character.name}}</h1>
  <div class="xs:w-full sm:w-64 md:w-64 shadow-md rounded-lg bg-silver" >

    <div class="w-full">
      <img src="{{character.image}}" alt="personajes" class="w-full   rounded-lg">
    </div>

  </div>
  <div>Contenido</div>
  <div>Videos</div>
</div>


