
<div class="container w-3/4 mx-auto bg-silver flex flex-col items-center content-between p-2" *ngIf="character">
  <h1 class="text-tahiti font-semibold text-2xl p-4">{{character.name}}</h1>
  <div class="xs:w-full sm:w-64 md:w-64 shadow-md rounded-lg bg-silver" >

    <div class="w-full">
      <img src="{{character.image}}" alt="personajes" class="w-full   rounded-lg">
    </div>
  </div>


<div *ngIf="episodes" class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="py-3 px-6">
                  Nombre
              </th>
              <th scope="col" class="py-3 px-6">
                  Episodio
              </th>
              <th scope="col" class="py-3 px-6">
                  Fecha Lanzamiento
              </th>

          </tr>
      </thead>
      <tbody>
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let episode of episodes">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap  text-tahiti">
                  {{episode.name}}
              </th>
              <td class="py-4 px-6">
                  {{episode.episode}}
              </td>
              <td class="py-4 px-6">
                  {{episode.air_date}}
              </td>
          </tr>
      </tbody>
  </table>
</div>

</div>


